{:paths ["src"]
 :deps {
        io.github.kotoba-lang/log-next-span-id
        {:git/url "https://github.com/kotoba-lang/log-next-span-id.git"
         :git/sha "974ba5cdd2bb5f390fad1e06b077375557df16e3"}
        io.github.kotoba-lang/log-with-span
        {:git/url "https://github.com/kotoba-lang/log-with-span.git"
         :git/sha "6b5afd8a6ccc362c502c610c4aede3cae17cf740"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
